<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<!-- Setter Injection -->
    <bean class="com.transferobject.Hello" id="h1">
    	<property name="message" value="Welcome to string 1"></property>
    </bean>
    <!--Multiple Setter Injection my adding id-->
    <bean class="com.transferobject.Hello" id="h2">
    	<property name="message" value="Welcome to string 2"></property>
    </bean>
    
    <bean class="com.transferobject.Employee" id="e1">
    	<property name="empId" value="12345"></property>
    	<property name="name" value="Manoj"></property>
    </bean>

</beans>